<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-primary"><i class="fa fa-lock"></i> ClientPanel</span> Login
        </h1>
        <form (submit)="onSubmit()" #loginForm="ngForm">

          <!--Email-->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email"
            [(ngModel)]="email" #loginEmail="ngModel" [ngClass]="{'is-invalid': loginEmail.errors && loginEmail.touched}" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
            <div class="invalid-feedback" [hidden]="!loginEmail.errors?.required">
                Email is required
              </div>
              <div class="invalid-feedback" [hidden]="!loginEmail.errors?.pattern">
                  Incorrect email format
              </div>
          </div>

          <!--Password-->
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password"
            [(ngModel)]="password" #loginPass="ngModel" [ngClass]="{'is-invalid': loginPass.errors && loginPass.touched}" minlength="6" required>
            <div class="invalid-feedback" [hidden]="!loginPass.errors?.required">
                Password is required
            </div>
            <div class="invalid-feedback" [hidden]="!loginPass.errors?.minlength">
                Password must be at least 6 characters
            </div>
          </div>

          <input [disabled]="!loginForm.valid || loginForm.untouched" type="submit" value="Login" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>